/* styles.css */
body {
  font-family: sans-serif;
  margin: 0;
}

main {
  padding: 1%;
}

/* ----------------------------- FONDOS ----------------------------- */
.N-img-fondo-1 {
  margin-top: -8vh;
  margin-left: -40.8vh;
  width: 100vw;
  height: 275%;
  background: #f5f5f5; /* color de base */
  position: absolute;
  overflow: hidden;
  z-index: -5;
}

/* Generar el patr칩n */
.N-img-fondo-1::before {
  content: "";
  position: absolute;
  inset: 0; /* ocupa todo el contenedor */
  background-image: linear-gradient(
      30deg,
      rgba(0, 0, 0, 0.05) 25%,
      transparent 25%
    ),
    linear-gradient(150deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%),
    linear-gradient(90deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%);
  background-size: 80px 140px; /* tama침o de las celdas */
  background-position: 0 0, 0 0, 40px 70px;
  opacity: 0.25;
}

.tit1 {
  font-size: 20px;
  margin-top: -3vh;
  margin-left: -95vh;
}

.N-flecha {
  position: absolute;
  margin-top: -4vh;
  margin-left: -19.5vh;
}

/* ----------------------------- NOTICIA ----------------------------- */

.N-noticia-dia {
  margin-top: -6vh;
  margin-left: -3vh;
  width: 70%;
  height: 50px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 10px;
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
}

.N-text-noticia {
  white-space: nowrap;
  display: inline-block;
  animation: deslizarIzquierda 20s linear infinite;
}

@keyframes deslizarIzquierda {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

#titular1 {
  font-size: 40px;
  margin-top: 2%;
  margin-left: -8vh;
  width: 88%;
}

#tex-noticia {
  position: absolute;
  font-size: 25px;
  margin-top: 15%;
  left: 11%;
  text-align: justify;
  width: 35%;
}

#N-img-Noticia-contenedor {
  width: 80%;
  height: 360%;
  margin-left: 48%;
}

/* ----------------------------- NOTICIAS EXTRAS ----------------------------- */
.N-noticias-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 26px;
  max-width: 1500px;
  margin: 5% auto;
}

.N-noticia-card {
  position: relative;
  flex: 1 1 calc(25% - 20px);
  max-width: 310px;
  height: 300px;
  overflow: hidden;
  border-radius: 8px;
}

.N-noticia-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.5s ease;
}

.N-noticia-card img:hover {
  transform: scale(1.1);
}

.N-noticia-titulo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 1rem;
  text-align: center;
  box-sizing: border-box;
}

/* ----------------------------- BOLET칈N ----------------------------- */
.se침alador {
  margin-left: -16vh;
  width: 3%;
  height: 80px;
  background-color: black;
  border: 2px solid black;
}

.tit3 {
  margin-top: -12vh;
  margin-left: -10vh;
  font-size: 50px;
}

/* .img-noticia-alertas-2 */ 
/* .img-noticia-alertas-1{
  width: 65%;
  height: auto;
  object-fit: cover;
  transition: opacity 1s ease-in-out; 
  opacity: 1;
} */

/* .img-noticia-alertas-1 {
  margin-left: -20vh;
}
 */
/* .img-noticia-alertas-2 {
  margin-top: -48.5vh;
  margin-left: 52%;
}  */

.img-noticia-alertas-1 {
  width: 65%;
  height: auto;
  object-fit: cover;
  top: 3%;
  margin-left: -20vh;
  display: block;
}

.img-noticia-alertas-2 {
  width: 65%;        /* Ajusta el tama침o como necesites */
  height: auto;
  object-fit: cover;
  margin-top: -45vh;
  margin-left: 52%;
  display: block;
}

#N-img-alertas img {
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

.N-mensaje-1,
.N-mensaje-2 {
  font-size: 35px;
  text-align: justify;
}

.N-mensaje-1 {
  margin-left: 5%;
}
.N-mensaje-2 {
  margin-top: -5.3vh;
  margin-left: 72%;
}

/* ----------------------------- CONTACTOS ----------------------------- */

#titular4 {
  font-size: 25px;
  margin-top: 2%;
  margin-left: -16.5vh;
  width: 50%;
  height: 80%;
}

#tex-ayuda {
  font-size: 22px;
  margin-top: 10%;
  margin-left: -63vh;
  text-justify: auto;
  width: 80%;
  height: 310px;
}

.div-num-emergencia li::marker {
  content: "游";
  font-size: 1.2rem;
  color: red;
}

/*-- ------------------------------------------------------------------------ RESPONSIVO 1 ------------------------------------------------------------------------ --*/

/*-- ------------------------------------------------- ESCRITORIO ------------------------------------------------- --*/

@media (max-width: 1024px) {
  .N-img-fondo-1 {
    position: absolute;
    margin-top: -12vh;
    margin-left: -2.5vh;
    width: 100%;
    height: 460%;
    z-index: -1;
  }

  .tit1 {
    font-size: 18px;
    margin-top: -3vh;
    margin-left: -50vh;
  }

  .N-flecha {
    width: 100%; /* se adapta al ancho de su contenedor */
    height: auto; /* mantiene la proporci칩n */
    margin-left: 4.5%;
    max-width: 200px; /* opcional, para limitar el tama침o m치ximo */
  }

  .N-noticia-dia {
    margin-top: -6vh;
    margin-left: 20%;
    width: 50%;
    height: 50px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: rgb(0, 0, 0);
    font-size: 18px;
  }

  .N-text-noticia {
    white-space: nowrap;
    display: inline-block;
    animation: deslizarIzquierda 20s linear infinite;
  }

  @keyframes deslizarIzquierda {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  #titular1 {
    margin-top: 0%;
    margin-left: 4%;
    width: 92%;
    font-size: 30px;
  }

  #tex-noticia {
    position: relative;
    font-size: 18px;
    margin-top: 1%;
    margin-left: -5.5vh;
    text-align: justify;
    width: 85%;
  }

  #N-img-Noticia-contenedor {
    width: 80%;
    height: auto;
    margin-left: 10%;
  }

  .se침alador {
    margin-top: -5vh;
    margin-left: 5%;
    width: 3%;
    height: 60px;
    background-color: black;
    border: 2px solid black;
  }

  .tit3 {
    margin-top: -15vh;
    margin-left: 10%;
    font-size: 30px;
  }

  .img-noticia-alertas-1,
  .img-noticia-alertas-2 {
    width: 80%;
    height: auto;
    animation: slider 10s linear infinite;
  }

  .img-noticia-alertas-1 {
    margin-left: 10%;
  }
  .img-noticia-alertas-2 {
    margin-top: 10%;
    margin-left: 10%;
  }

  .N-mensaje-1,
  .N-mensaje-2 {
    font-size: 20px;
    text-align: justify;
  }

  .N-mensaje-1 {
    margin-top: -80vh;
    margin-left: 40%;
  }
  .N-mensaje-2 {
    margin-top: 54%;
    margin-left: 40%;
  }

  #titular4 {
    font-size: 20px;
    margin-top: 2%;
    margin-left: 5%;
  }

  #tex-ayuda {
    font-size: 18px;
    margin-top: 1%;
    margin-left: 5%;
    text-justify: auto;
    width: 80%;
    height: 310px;
  }

  .div-num-emergencia li::marker {
    content: "游";
    font-size: 1.2rem;
    color: red;
  }
}

/*-- ------------------------------------------------- TABLET ------------------------------------------------- --*/

@media (max-width: 768px) {
  header,
  .navbar {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1060 !important;
  }

  body {
    padding-top: 70px;
  }
  .N-img-fondo-1 {
    position: absolute;
    margin-top: -12vh;
    margin-left: -2.5vh;
    width: 100%;
    height: 460%;
    z-index: -1;
  }

  .tit1{
    font-size: 20px;
    margin-left: 22px;
    width: 92%;
  }

  .tit3 {
    margin-top: -14vh;
    font-size: 25px;
    margin-left: 80px;
  }

  #titular1 {
    margin-top: 0%;
    font-size: 20px;
    margin-left: 13px;
    width: 97%;
  }

  .N-flecha {
    margin-top: -6vh;
    margin-left: 3%;
  }
  .N-noticia-dia {
    margin-top: -9vh;
    margin-left: 25%;
    width: 60%;
    height: 50px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: rgb(0, 0, 0);
    font-size: 17px;
  }

  .N-text-noticia {
    white-space: nowrap;
    display: inline-block;
    animation: deslizarIzquierda 20s linear infinite;
  }

  @keyframes deslizarIzquierda {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  #tex-ayuda {
    width: 93%;
    margin-left: 3.5%;
    font-size: 15px;
  }

  #tex-noticia {
    position: relative;
    margin-top: 0;
    width: 93%;
    margin-left: -9vh;
    font-size: 15px;
  }

  .img-noticia {
    width: 100%;
    height: auto;
    margin-top: 0;
    margin-left: 0;
  }

  #img-noticias {
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    margin-left: 215px;
  }

  #img-noticia-extras {
    width: 100%;
    height: auto;
  }

  .se침alador {
    margin-left: 3%;
    width: 5%;
    height: 50px;
  }

  #img-noticia-alertas {
    width: 100%;
    height: auto;
  }

  #titular4 {
    font-size: 20px;
    margin-left: 22px;
  }

  .N-mensaje-1 {
    margin-top: -60vh;
    margin-left: 35%;
  }
  .N-mensaje-2 {
    margin-top: 52%;
    margin-left: 35%;
  }
}

/*-- ------------------------------------------------- CELULAR ------------------------------------------------- --*/

@media (max-width: 600px) {
  header,
  .navbar {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1060 !important;
  }

  body {
    padding-top: 70px;
  }
  
  .N-img-fondo-1 {
    position: absolute;
    margin-top: -12vh;
    margin-left: -2.5vh;
    width: 100%;
    height: 332%;
    z-index: -1;
  }

  .tit1{
    margin-top: -5vh;
    margin-left: 1%;
    width: 92%;
    font-size: 1.2rem;
  }

  .tit3 {
    margin-top: -14vh;
    font-size: 25px;
    margin-left: 55px;
  }

  #titular1 {
    margin-top: 0%;
    font-size: 20px;
    margin-left: 1px;
    width: 100%;
  }

  .N-flecha {
    display: none;
  }

  .N-noticia-dia {
    margin-top: -11vh;
    margin-left: 1%;
    width: 97%;
    height: 50px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: rgb(0, 0, 0);
    font-size: 17px;
  }

  .N-text-noticia {
    white-space: nowrap;
    display: inline-block;
    animation: deslizarIzquierda 20s linear infinite;
  }

  @keyframes deslizarIzquierda {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  #tex-ayuda {
    width: 93%;
    margin-left: 3.5%;
    font-size: 15px;
  }

  #tex-noticia {
    position: relative;
    margin-top: 0;
    width: 93%;
    margin-left: -5.5vh;
    font-size: 15px;
  }

  #img-noticias {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas iguales */
    gap: 1rem;
    width: 90%; /* o ajusta seg칰n el dise침o */
    margin: 0 auto;
  }

  .N-noticia-card {
    width: 100%;
    overflow: hidden;
  }

  .se침alador {
    margin-top: 1%;
    margin-left: 3%;
    width: 5%;
    height: 50px;
  }


  .img-noticia-alertas-1 {
    margin-top: -5vh;
    margin-left: 10%;
  }

  .img-noticia-alertas {
    width: 100%;
    height: auto;
  }

  .N-mensaje-1 {
    margin-top: -24vh;
    margin-left: 24%;
  }

  .N-mensaje-2 {
    margin-top: 48%;
    margin-left: 24%;
  }

  #titular4 {
    margin-top: 5%;
    margin-left: 22px;
    width: 88%;
    font-size: 20px;
  }
}

























/* @media (max-width: 400px) {
  .tit1,
  #tit2,
  #titulares,
  #titular1,
  #titular4,
  .tit3 {
    font-size: 14px;
    margin-left: 2%;
    width: 95%;
  }

  #tex-noticia,
  #tex-ayuda {
    font-size: 16px;
    width: 95%;
    margin-left: 2%;
  }

  .se침alador {
    width: 6%;
    height: 40px;
    margin-left: 2%;
  }
} */
