/* styles.css */
body {
  font-family: sans-serif;
  margin: 0;
}

main {
  padding: 1%;
}

.tit-1-CGSC {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%); /*posiciona a las medidas de top y left*/
  color: rgb(255, 255, 255);
  font-size: 3rem; /*tamaño de la letra*/
  text-align: center;
  text-shadow: 4px 4px 3px rgba(7, 37, 88, 9);
}

.S-img-1-principal {
  width: 100%;
  overflow: hidden; /*oculta el contenido que sobresalga del contenedor*/
}

#S-img-principal {
  width: 99.8%;
  height: 70vh;
  display: block;
  object-fit: cover; /*recorta la img para llenar el contenedor*/
  border: 2px solid rgba(255, 255, 255, 0);
}

.S-tit-2-CN {
  position: absolute;
  top: 80%;
  left: 10%;
  transform: translate(-10%, -80%); /*posiciona a las medidas de top y left*/
  color: rgb(0, 0, 0);
  font-size: 2rem; /*tamaño de la letra*/
  text-align: center;
}

.S-img-2-sub2 {
  width: 550px;
  height: 450px;
  margin: 0 auto; /* ← centra horizontalmente */
  margin-top: -6%;
  border: 2px solid rgb(255, 255, 255);
}

#S-img-sub2 {
  width: 600px;
  height: 600px;
  margin-top: -80px;
  margin-left: -40px;
  display: block;
}

.S-par-1 {
  margin-top: 8%;
  margin-left: 8%;
  font-style: italic;
  font-size: 20px;
}

.S-tit-3-Mision {
  position: absolute;
  top: 100%;
  left: 8.5%;
  transform: translate(-10%, -80%); /*posiciona a las medidas de top y left*/
  color: rgb(0, 0, 0);
  font-size: 1.6rem; /*tamaño de la letra*/
  font-weight: normal;
}

.S-par-2 {
  margin-top: 10%;
  margin-left: 7.4%;
  font-size: 20px;
  width: 20%;
}

.S-tit-4-Vision {
  position: absolute;
  top: 142%;
  left: 8.5%;
  transform: translate(-10%, -80%); /*posiciona a las medidas de top y left*/
  color: rgb(0, 0, 0);
  font-size: 1.6rem; /*tamaño de la letra*/
  font-weight: normal;
}

.S-par-3 {
  margin-top: -5%;
  margin-left: 7.4%;
  font-size: 20px;
  width: 20%;
}

.S-tit-5-Valores {
  position: absolute;
  top: 100%;
  left: 75%;
  transform: translate(-10%, -80%); /*posiciona a las medidas de top y left*/
  color: rgb(0, 0, 0);
  font-size: 1.6rem; /*tamaño de la letra*/
  font-weight: normal;
}

.S-par-4 {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-top: -27%;
  margin-left: 74%;
  font-size: 20px;
  width: 20%;
}

.S-fondo-img-1 {
  position: absolute;
  width: 693px;
  height: 820px;
  margin-top: 425px;
  margin-left: 1px;
  z-index: -1; 
}

.S-tit-6-HI {
  position: absolute;
  top: 185%;
  left: 10%;
  transform: translate(-10%, -80%); /*posiciona a las medidas de top y left*/
  color: rgb(0, 0, 0);
  font-size: 2rem; /*tamaño de la letra*/
  text-align: center;
}

.S-par-5 {
  margin-top: 33%;
  margin-left: 8%;
  font-style: italic;
  font-size: 20px;
}

.S-par-5-1 {
  position: absolute;
  font-style: italic;
  font-size: 20px;
  color: white;
  margin-top: -5.2vh;
  margin-left: 40.7%;
}

.S-columna-1 {
  display: flex;
  flex-direction: column;
  justify-content: center; /* centra horizontalmente la imagen */
  align-items: center; /* centra verticalmente la imagen */
  margin-left: 8%;
  margin-top: 5%;
  width: 100px; /* ancho */
  height: 100px; /* alto igual al ancho */
  background: #072558; /* color de fondo */
  border-radius: 50%; /* convierte el cuadrado en círculo */
  gap: 80px;
}

.S-circulos-1 {
  width: 80px; /* ancho */
  height: 80px; /* alto igual al ancho */
  background: rgb(172, 172, 172); /* color de fondo */
  border-radius: 70%; /* convierte el cuadrado en círculo */
}

.S-bloques-RCU {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 100px; /* Espacio entre cada grupo h2 + p */
  top: 203%;
  left: 18%;
  width: 15%;
}

.S-tit-7-RCU {
  transform: translate(-10%, -80%); /*posiciona a las medidas de top y left*/
  color: rgb(0, 0, 0);
  font-size: 1.4rem; /*tamaño de la letra*/
  font-weight: normal;
}

.S-bloques-par-6 {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 30px; /* Espacio entre cada grupo h2 + p */
  top: 198%;
  left: 15%;
  width: 17%;
}

.S-par-6 {
  margin-top: 31%;
  margin-left: 8%;
}

.S-fondo-1 {
  margin-left: auto;
  margin-top: -42%;
  width: 55%;
  height: 820px;
  border: 2px solid #072558;
  background-color: #072558;
  margin-right: 4rem; /* o 20px, o lo que necesites */
}

.S-img-3-sub3 {
  width: 400px;
  height: 610px;
  margin-top: 22%;
  border: 2px solid rgba(255, 255, 255, 0);
}

.S-img-sub-3 {
  width: 400px;
  height: 610px;
}

.S-tit-8-TSE {
  position: absolute;
  width: 150%;
  top: -30%;
  left: 15%;
  transform: translate(-10%, -80%); /*posiciona a las medidas de top y left*/
  color: white;
  font-size: 1.5rem; /*tamaño de la letra*/
}

.S-bloques-par-7 {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  top: 220%;
  left: 70%;
  width: 15%;
  color: white;
}

.S-par-7 {
  margin: 0;
  line-height: 1.4;
  font-size: 1rem;
}

.S-fondo-2 {
  margin-top: -0.2%;
  width: auto;
  height: 850px;
  max-height: 900px;
  border: 2px solid #072558;
  background-color: #404547;
  overflow-y: auto; /* ✅ activa scroll vertical si hay muchos círculos */
  display: flex;
  justify-content: center; /* ✅ centra el contenido horizontalmente */
  box-sizing: border-box;
  align-items: flex-start;
}

.S-tit-9-NL {
  position: absolute;
  top: 279%;
  left: 10%;
  transform: translate(-10%, -80%); /*posiciona a las medidas de top y left*/
  color: rgb(255, 255, 255);
  font-size: 2rem; /*tamaño de la letra*/
  text-align: center;
}

.S-par-8 {
  margin-top: -43%;
  margin-left: 8.5%;
  color: white;
  font-style: italic;
  font-size: 20px;
}

.S-columna-2 {
  column-count: auto; /* número de columnas automático */
  column-width: 220px; /* ancho aproximado de cada columna */
  column-gap: 2rem; /* espacio entre columnas */
  max-height: 1100px; /* para que limite la altura total */
  overflow-y: auto; /* scroll si hay más filas */
  padding: 10rem;
}

.S-lider {
  display: inline-block; /* necesario para columnas */
  width: 200px;
  margin-bottom: 1rem; /* para que tengan ancho fijo */
}

.S-circulos-2 {
  width: 200px; /* ancho */
  height: 200px; /* alto igual al ancho */
  background: rgb(172, 172, 172); /* color de fondo */
  border-radius: 70%; /* convierte el cuadrado en círculo */
  object-fit: cover;
}

.S-par-9 {
  display: flex;
  margin-top: 5%;
  justify-content: center;
  color: white;
  font-style: italic;
  font-size: 20px;
}

.S-par-10 {
  display: flex;
  margin-top: 5%;
  justify-content: center;
  color: white;
  font-style: italic;
  font-size: 15px;
}

.S-tit-10-O {
  position: absolute;
  top: 380%;
  left: 10%;
  transform: translate(-10%, -80%); /*posiciona a las medidas de top y left*/
  color: rgb(0, 0, 0);
  font-size: 2rem; /*tamaño de la letra*/
  text-align: center;
}

.S-img-4-sub4 {
  width: 99.7%;
  height: 850px;
  margin: 0 auto; /* ← centra horizontalmente */
  margin-top: 41.6%;
  overflow: hidden;
  border: 2px solid rgb(255, 255, 255);
}

#S-img-sub4 {
  width: 100%;
  height: 100%;
  object-fit: cover; /*recorta la img para llenar el contenedor*/
  display: block;
}
